ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

li {
    display:inline;
}

#listLeft {
    float: left;
    padding:15px;
    
}

#listRight {
    float: right;
    padding: 15px;
}

div2 {
    text-align: center;
    
}