ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

li {
    display:inline;
}

#listLeft {
    float: left;
    padding:15px;
    
}

#listRight {
    float: right;
    padding: 15px;
}

.container {
    position: absolute;
  top: 50%;
  left: 50%;
    margin: -70px 0 0 -170px;
    
}